<div class="container back shadow-lg p-3">
    <nav style="background-color: white; margin-left: -1%; margin-right: -1%; margin-top: -1%;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="font-size: 18;">
          <button [routerLink]="['electrico']" class="nav-link active fw-bold" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-component" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Electrico</button>
          <button [routerLink]="['diesel']" class="nav-link fw-bold" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-component" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Diesel</button>
        </div>
      </nav>
      <br>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-component" role="tabpanel" aria-labelledby="nav-home-tab" style="margin-top: -2%;">
            <router-outlet></router-outlet>
        </div>
      </div>
</div>