.margenes{
    margin-top: 5%;
    margin-bottom: 5%;
}

.graficos{
    display: block !important;
    width: auto;
    height: auto;
}

.motor{
    width: 60%;
    position: relative;
}

/*img{
    width: 50%;
    height: 90%;
}*/

.divSize{
    width: 100%;
    height: 85%;
}

.border{
    border-radius: 25px;
}

.back{
    background-color: rgba(248,248,248,1);
}

.backTop{
    background-color: white;
}

.successBorder{
    border: solid 5px !important;
}

.linea {
    position: relative;
    border-top: 1px solid black;
    height: 2px;
    width: 10%;
  }

  .linea45 {
    transform: rotate(15deg);
    position: relative;
    border-top: 1px solid black;
    height: 2px;
    width: 10%;
  }

  .linea90 {
    transform: rotate(90deg);
    position: absolute;
    border-top: 1px solid black;
    height: 2px;
    width: 7%;
  }