/* You can add global styles to this file, and also import other style files */
.appBack{
    background-color: rgba(248,248,248,1);
    min-height: 100%;
    width: 100% !important;
    background-size: cover;
}

.overCard:hover{
    cursor: pointer;
    background-color: #00aced;
    color: white;
}

nav > div.active {
    background-color: #00aced;
    border: solid 3px;
    border-color: #00aced;
  }